extends layout

block links
  link(href='http://fonts.googleapis.com/css?family=Syncopate:700', rel='stylesheet', type='text/css')
  link(href='/css/index.css', rel='stylesheet', type='text/css')

block body
  header GJ
  .upload.button
    p Upload
  .request.button
    p Request
