html, body
  height 100%

body
  background-color #007CE0
  padding 0
  margin 0
  font-family 'Syncopate', sans-serif

header
  background-color #FA9800
  height 60px
  font-size 56px
  text-align center
  color #f8f8f8
  line-height 66px

.upload.button, .request.button
  height 40%
  color #262626

  p
    margin 0
    padding 0
    text-align center
    position relative
    top 50%
    -webkit-transform translateY(-50%)
    -moz-transform translateY(-50%)
    -ms-transform translateY(-50%)
    -o-transform translateY(-50%)
    transform translateY(-50%)
    font-size 32px

.upload.button
  background-color #5AA4DF

.request.button
  background-color #B8DFFF
