html, body, .buttons, .current
  max-width 640px
  height 100%
  margin 0 auto

body
  background-color #007CE0
  padding 0
  margin 0
  font-family 'Syncopate', sans-serif

a
  text-decoration none

header
  background-color #FA9800
  height 60px
  font-size 56px
  text-align center
  color #f8f8f8
  line-height 66px

.upload.button, .request.button, .url.button, .send.button, .gif.button, .bpm.button
  height 40%
  color #262626
  display block

  p
    margin 0
    padding 0
    text-align center
    position relative
    top 50%
    -webkit-transform translateY(-50%)
    -moz-transform translateY(-50%)
    -ms-transform translateY(-50%)
    -o-transform translateY(-50%)
    transform translateY(-50%)
    font-size 32px

  textarea
    margin 0
    padding 0
    width 100%
    height 100%
    font-size 32px
    border 0

.upload.button
  background-color #5AA4DF

.request.button
  background-color #B8DFFF

.send.button
  background-color #FCE1B8

.gif.button
  background-color #FC76B8

.bpm.button
  background-color #FCE1B8

.preview
  width 100%
  text-align center

  img
    width 100%

.choose
  margin-bottom -30px
  background-color #000

  &:before
    display block
    content '✔'
    font-size 96px
    color #FFF
    position relative
    top 30px
    line-height 30px
    z-index 1

  img
    position relative
    top -30px
    opacity 0.4

.bpm.field
  width 100%
  height 100%
  text-align center
  padding-top 20%
  font-size 82px
  color #f8f8f8

  p
    font-size 28px

.more
  height 10%
  background-color #FC76B8
  font-size 28px
  text-align center
  padding-top 3%
