html, body, .buttons, .current
  height 100%

body
  background-color #007CE0
  padding 0
  margin 0
  font-family 'Syncopate', sans-serif

a
  text-decoration none

header
  background-color #FA9800
  height 60px
  font-size 56px
  text-align center
  color #f8f8f8
  line-height 66px

.upload.button, .request.button, .url.button, .send.button
  height 40%
  color #262626
  display block

  p
    margin 0
    padding 0
    text-align center
    position relative
    top 50%
    -webkit-transform translateY(-50%)
    -moz-transform translateY(-50%)
    -ms-transform translateY(-50%)
    -o-transform translateY(-50%)
    transform translateY(-50%)
    font-size 32px

  textarea
    margin 0
    padding 0
    width 100%
    height 100%
    font-size 32px
    border 0

.upload.button
  background-color #5AA4DF

.request.button
  background-color #B8DFFF

.send.button
  background-color #FCE1B8
